<div class="box_card _plasma">
    <p class="card_title title_alone">플라즈마</p>
    {{#isPlasmaWave fncCd}}
        <input type="checkbox" class="icon_check toggle_default" data-fncCd="{{fncCd}}"  data-dvcCd="{{../dvcCd}}" data-rtnDvcId="{{rtnDvcId}}" data-fncVal="{{fncVal}}" {{isOn fncVal}}>
    {{/isPlasmaWave}}
</div>