<div class="box_card _alarm">
    <p class="card_title _goToHistoryAlarm" data-rtndvcid="{{rtnDvcId}}"><a href="# ">이력 및 알림 <span class="sprite sprite_common sprite_more">?</span></a></p>
    {{{newAlarm}}}
    <div class="alarm_txt">
        <p>{{bracket dvcNickNm}} {{actMsg}}</p>
        <p class="etc">{{deviceDetailReferSendHm}}</p>
    </div>
</div>