<div class="area_product_info">
    <img src="{{deviceDetailReferDvcImgUrl}}" onerror='this.src="images/default_img_lg.png"' alt="">
<p>{{makerNm}} {{dvcKindNm}}</p>
<p>{{dvcNickNm}}</p>
</div>
<ul class="area_info_menu ">
    <li class="_dvcguideurl"><a href="#" data-link="{{deviceDetailReferDvcGuideUrl}}">제품 사용 가이드</a></li>
    <li><a href="#">고객센터 홈페이지</a></li>
</ul>
<div class="area_info_footer">
    <p><a href="#"><img src="{{deviceDetailReferDvcBannerImgUrl}}" onerror='this.src="images/@temp_logo_image.png"' alt=""></a>
        {{makerNm}} {{dvcKindNm}} 관련 용품을<br>홈페이지에서 만나보세요.</p>
</div>

