<div class="box_card _mode">
    <p class="card_title title_set">모드 설정</p>
    <div class="box_setting">
        {{#each openDeviceList}}
            {{#isMode fncCd}}
                <ul class="clearfix">
                    <li data-fncCd="{{fncCd}}"  data-dvcCd="{{../dvcCd}}" data-rtnDvcId="{{rtnDvcId}}" data-fncVal="01" class="{{isSameFocus fncVal '01'}}"><a href="#"><span>자동</span></a></li>
                    <li data-fncCd="{{fncCd}}"  data-dvcCd="{{../dvcCd}}" data-rtnDvcId="{{rtnDvcId}}" data-fncVal="02" class="{{isSameFocus fncVal '02'}}"><a href="#"><span>수동</span></a></li>
                </ul>
            {{/isMode}}
        {{/each}}
    </div>
</div>